<div class="ui middle aligned selection divided list">
  <ng-container *ngFor="let autoTeile of autoTeilen$ | async as autoTeilen">
    <a class="item">
      <img
        class="ui tiny image"
        *ngIf="autoTeile.picture"
        [src]="autoTeile.picture"
      />
      <div class="content">
        <div class="header">{{ autoTeile.name }}</div>
        <div class="description" *ngIf="autoTeile.description">
          {{ autoTeile.description }}
        </div>
        <div class="metadata">
          <br />
          Stock: {{ autoTeile.quantity }}
        </div>
      </div>
    </a>
    <p *ngIf="autoTeilen && !autoTeilen.length">
      Es wurden noch keinen AutoTeilen eingetragen
    </p>
  </ng-container>
</div>
